@import '../utils/variables';
@import '../utils/mixins';

.header {
    font-weight: 700;
    text-transform: uppercase;
    h1 {
        letter-spacing: 2px;
        font-size: 27px;
        @include tablet {
            font-size: 30px;
        }
    }
    a {
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 13px;
        @include tablet {
            font-size: 15px;
        }
    }
}